:root {
  --Yellow--: #f4d04e;
  --White--: #ffffff;
  --Gray500--: #6b6b6b;
  --Gray950--: #121212;
}
@font-face {
  font-family: "figtree";
  src: url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf) format(truetype);
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf) format(truetype);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--Yellow--);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "figtree";
}
.contaier {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card {
  border-radius: 1rem;
  border: 1px solid;
  width: 25rem;
  background-color: #ffffff;
  margin: 4rem auto auto auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  box-shadow: 1rem 0.8rem 0rem 0rem;
}

section div.card figure img {
  width: 100%;
  border-radius: 1rem;
}
section div.card span {
  background-color: #f4d04e;
  display: inline-block;
  width: 5.5rem;
  text-align: center;
  padding: 0.4rem;
  border-radius: 0.3rem;
  font-weight: 700;
  margin: 0.4rem;
}
section div.card time {
  margin: 0.4rem;
  padding: 0.3rem;
}
section div.card h1 {
  padding: 0.8rem;
  font-size: 1.7rem;
}
section div.card p {
  padding: 0.5rem;
  color: var(--Gray500--);
}
.name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.responsiv-img {
  width: 3.1rem;
  height: auto;
}
strong {
  width: 6rem;
  font-weight: 900;
}
@media screen and (max-width: 480px) {
  .col-xs-12 {
    width: 100%;
  }
  h1 {
    padding: 0;
    font-size: 10px;
  }
}
h1:hover {
  color: #f4d04e;
  transition: 0.5s ease;
  cursor: pointer;
}
